{% extends "base.html" %}
{%load static%}

{% block title%}Ankur|About{% endblock title %}

{% block aboutactive %}active{% endblock aboutactive %}


{% block body %}


<section class="jumbotron text-center" style="height:100vh;">
    <div class="container">
        <img src="{% static 'img/me.jpg'%}" alt="logo" width="150">
        <h1 class="jumbotron-heading"><span id="typed">Ankur Sharma</span><span class="typed-cursor">|</span></h1>
        <br><br>
        <p class="lead text-muted">Welcome! I am Ankur Sharma<br>I am Python,Django,Web Development,Data Science,Machine
            Learning Enthusiast.I am Autodidact, Practicing Online to Improve my skills</p>
        <p><br><br>
            <a href="{% static 'img/Ankur Sharma.pdf'%}" target="_blank" class="btn btn-success my-2"
                style=" font-weight: bold; font-size:30px;">Click For Resume</a>
        </p>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.9/typed.min.js" async="" defer=""></script>
<script>
    window.onload = function () {
        console.log("loaded")
        var typed = new Typed('#typed', {
            strings: ["I am Python,Django,Web Development,Data Science,Machine Learning Enthusiast :)", "I am Python,Django,Web Development,Data Science,Machine Learning Enthusiast :)"],
            backSpeed: 30,
            smartBackspace: true,
            backDelay: 1200,
            startDelay: 1000,
            typeSpeed: 35,
            loop: true,
        });
    };
</script>






{% endblock body %}