<html>
<head>
<title>D:\uploadedFiles\2971d2ca4faa62a3d29cef51185b1-df394a75f334baa\p1ef2e8de51eja1ab7no7cav1dnq4.pdf</title>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 21.2px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
-->
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_1100:850" src="page_001.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_154:51" style="top:51;left:154">
<span id="_16.2" style="font-weight:bold; font-family:Times New Roman; font-size:16.2px; color:#000000">
                                                                                 A/1790, II Floor Front Side,</span>
</div>
<div class="pos" id="_80:71" style="top:71;left:80">
<span id="_16.2" style="font-weight:bold; font-family:Times New Roman; font-size:16.2px; color:#000000">
                                                                                                  Green Field Colony, Faridabad</span>
</div>
<div class="pos" id="_80:91" style="top:91;left:80">
<span id="_16.2" style="font-weight:bold; font-family:Times New Roman; font-size:16.2px; color:#000000">
                                                                                                  Haryana -121003, India.</span>
</div>
<div class="pos" id="_80:111" style="top:111;left:80">
<span id="_16.2" style="font-weight:bold; font-family:Times New Roman; font-size:16.2px; color:#000000">
                                                                                                  Cell No. - +91-9711970195</span>
</div>
<div class="pos" id="_80:131" style="top:131;left:80">
<span id="_16.2" style="font-weight:bold; font-family:Times New Roman; font-size:16.2px; color:#000000">
                                                                                                  E-Mail- ankurramba.rf@gmail.com</span>
</div>
<div class="pos" id="_80:155" style="top:155;left:80">
<span id="_33.4" style="font-weight:bold; font-family:Times New Roman; font-size:33.4px; color:#000000">
<U>A</U><U>N</U><U>K</U><U>U</U><U>R</U><U> </U><U>S</U><U>H</U><U>A</U><U>R</U><U>M</U><U>A</U></span>
</div>
<div class="pos" id="_80:217" style="top:217;left:80">
<span id="_16.7" style="font-weight:bold; font-family:Arial; font-size:16.7px; color:#000000">
PERSONAL</span>
</div>
<div class="pos" id="_80:234" style="top:234;left:80">
<span id="_15.9" style="font-weight:bold; font-family:Arial; font-size:15.9px; color:#000000">
DETAILS<span id="_18.6" style=" font-size:18.6px">            </span></span>
</div>
<div class="pos" id="_80:256" style="top:256;left:80">
<span id="_15.9" style="font-weight:bold; font-family:Arial; font-size:15.9px; color:#000000">
                                   Place of Birth:               <span style="font-weight:normal"> New Delhi </span></span>
</div>
<div class="pos" id="_80:275" style="top:275;left:80">
<span id="_15.9" style="font-weight:bold; font-family:Arial; font-size:15.9px; color:#000000">
                                   Father&#146;s Name:              <span style="font-weight:normal"> Vijay Kumar Sharma</span></span>
</div>
<div class="pos" id="_80:294" style="top:294;left:80">
<span id="_15.9" style="font-weight:bold; font-family:Arial; font-size:15.9px; color:#000000">
                                   Gender:                          <span style="font-weight:normal"> Male</span></span>
</div>
<div class="pos" id="_80:313" style="top:313;left:80">
<span id="_15.9" style=" font-family:Arial; font-size:15.9px; color:#000000">
                                   <span style="font-weight:bold"> Pan Card:                       </span> GEDPS7564J</span>
</div>
<div class="pos" id="_80:332" style="top:332;left:80">
<span id="_15.9" style=" font-family:Arial; font-size:15.9px; color:#000000">
                                   <span style="font-weight:bold"> Passport Number:</span>   <span style="font-weight:bold">      </span> S3190828</span>
</div>
<div class="pos" id="_80:351" style="top:351;left:80">
<span id="_15.9" style=" font-family:Arial; font-size:15.9px; color:#000000">
                                   <span style="font-weight:bold"> Passport Validity:          </span> 03/06/2028</span>
</div>
<div class="pos" id="_80:370" style="top:370;left:80">
<span id="_15.9" style=" font-family:Arial; font-size:15.9px; color:#000000">
                                   <span style="font-weight:bold"> Date of Birth</span> :                 December, 12<span id="_10.6" style=" font-size:10.6px"> th</span> , 1991</span>
</div>
<div class="pos" id="_80:390" style="top:390;left:80">
<span id="_10.6" style="font-weight:bold; font-family:Times New Roman; font-size:10.6px; color:#000000">
 </span>
</div>
<div class="pos" id="_87:414" style="top:414;left:87">
<span id="_15.9" style="font-weight:bold; font-family:Arial; font-size:15.9px; color:#000000">
SUMMARY</span>
</div>
<div class="pos" id="_87:433" style="top:433;left:87">
<span id="_14.6" style="font-weight:bold; font-family:Arial; font-size:14.6px; color:#000000">
                           Telecom <span style="font-weight:normal; color:#212121"> professional</span><span style=" color:#212121"> having 5+ Years of experience in the field of </span><span style="font-weight:normal; color:#212121"> RF </span></span>
</div>
<div class="pos" id="_87:450" style="top:450;left:87">
<span id="_14.6" style=" font-family:Arial; font-size:14.6px; color:#212121">
Optimization.Good knowledge of Optimization LTE network by Monitoring KPI&#146;s like Accessibility </span>
</div>
<div class="pos" id="_87:468" style="top:468;left:87">
<span id="_14.6" style=" font-family:Arial; font-size:14.6px; color:#000000">
Retainability Mobility. Good knowledge of Physical Site audits, cluster Optimization & Also </span>
</div>
<div class="pos" id="_87:486" style="top:486;left:87">
<span id="_15.1" style=" font-family:Arial; font-size:15.1px; color:#000000">
knowledge of <span style="font-weight:bold"> Python Programming Language & Python Pandas Library</span> .</span>
</div>
<div class="pos" id="_80:528" style="top:528;left:80">
<span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#0d0d0d">
CUSTOMERS EXPERIENCES: -</span>
</div>
<div class="pos" id="_80:554" style="top:554;left:80">
<span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#0d0d0d">
Ericsson: -     <span style="font-weight:normal; color:#000000"> LTE Optimization and Analysis of Network by Monitoring KPI&#146;s</span></span>
</div>
<div class="pos" id="_80:580" style="top:580;left:80">
<span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#0d0d0d">
NOKIA: -        <span style="font-weight:normal"> LTE</span> <span style="font-weight:normal; color:#000000"> Optimization and Analysis the network & Post Processing Analysis                                             </span></span>
</div>
<div class="pos" id="_80:606" style="top:606;left:80">
<span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#0d0d0d">
ZTE: -             <span style="font-weight:normal; color:#000000"> Drive Test, Swap Test, Customer Complain, Analysis Report, LTE Optimization  </span><span style=" color:#006fc0">                    </span></span>
</div>
<div class="pos" id="_80:632" style="top:632;left:80">
<span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#0d0d0d">
Samsung: -    <span style="font-weight:normal; color:#000000"> LTE Analysis and Optimization for SCFT and CLUSTER and Drive test  </span><span style=" color:#006fc0">                                            </span></span>
</div>
<div class="pos" id="_87:672" style="top:672;left:87">
<span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#000000">
WORKING</span>
</div>
<div class="pos" id="_87:690" style="top:690;left:87">
<span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#000000">
EXPERIENCE</span>
</div>
<div class="pos" id="_227:707" style="top:707;left:227">
<span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#000000">
<U>L</U><U>a</U><U>s</U><U>t</U><U> </U><U>C</U><U>o</U><U>m</U><U>p</U><U>a</U><U>n</U><U>y</U>: -</span>
</div>
<div class="pos" id="_227:742" style="top:742;left:227">
<span id="_15.1" style=" font-family:Arial; font-size:15.1px; color:#000000">
Worked with <span style="font-weight:bold"> Ericsson India Global Services</span> as a <span style="font-weight:bold"> LTE RAN Engineer</span> on a </span>
</div>
<div class="pos" id="_227:759" style="top:759;left:227">
<span id="_15.1" style=" font-family:Arial; font-size:15.1px; color:#000000">
 Payroll of <span style="font-weight:bold"> Magna Infotech</span> (July,2018 &#150;1<span id="_9.6" style=" font-size:9.6px"> st</span> July 2020)</span>
</div>
<div class="pos" id="_227:795" style="top:795;left:227">
<span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#000000">
<U>P</U><U>r</U><U>o</U><U>j</U><U>e</U><U>c</U><U>t</U><U> </U><U>1</U>: -SPRINT Massive MIMO (USA)</span>
</div>
<div class="pos" id="_227:830" style="top:830;left:227">
<span id="_15.5" style="font-weight:bold; font-family:Arial; font-size:15.5px; color:#000000">
Tools: - SRS Testing Tool, PRTS KPI Monitoring Tool, LSMR, Ericsson ENM, </span>
</div>
<div class="pos" id="_227:848" style="top:848;left:227">
<span id="_14.8" style="font-weight:bold; font-family:Arial; font-size:14.8px; color:#000000">
TEMS, MAPINFO, TEMS DISCOVERY, ACTIX, Nokia OSS (NetAct), Samsung OSS </span>
</div>
<div class="pos" id="_227:865" style="top:865;left:227">
<span id="_14.8" style="font-weight:bold; font-family:Arial; font-size:14.8px; color:#000000">
(LSMR), Ericsson OSS(ENM)</span>
</div>
<div class="pos" id="_227:900" style="top:900;left:227">
<span id="_15.2" style="font-weight:bold; font-family:Arial; font-size:15.2px; color:#000000">
<U>P</U><U>r</U><U>o</U><U>j</U><U>e</U><U>c</U><U>t</U><U>s</U><U> </U><U>R</U><U>e</U><U>s</U><U>p</U><U>o</U><U>n</U><U>s</U><U>i</U><U>b</U><U>i</U><U>l</U><U>i</U><U>t</U><U>i</U><U>e</U><U>s</U><U>:</U><U> </U><U>-</U></span>
</div>
<div class="pos" id="_252:932" style="top:932;left:252">
<span id="_14.8" style=" font-family:Symbol; font-size:14.8px; color:#000000">
<li type="square"><span style=" font-family:Arial"> Responsible for Optimization KPI&#146;s after LTE to Massive MIMO swap.</span></span>
</div>
<div class="pos" id="_252:951" style="top:951;left:252">
<span id="_14.8" style=" font-family:Symbol; font-size:14.8px; color:#000000">
<li type="square"><span style=" font-family:Arial"> Having Knowledge of Nokia (NetAct), Samsung (LSMR), Ericsson (ENM).</span></span>
</div>
<div class="pos" id="_252:970" style="top:970;left:252">
<span id="_14.8" style=" font-family:Symbol; font-size:14.8px; color:#000000">
<li type="square"><span style=" font-family:Arial"> Responsible for X2 Neighbor Cleanup for Legacy Site After New M-MIMO Site </span></span>
</div>
<div class="pos" id="_277:991" style="top:991;left:277">
<span id="_14.8" style=" font-family:Arial; font-size:14.8px; color:#000000">
Installation by Using LSM.</span>
</div>
<div class="pos" id="_252:1006" style="top:1006;left:252">
<span id="_15.3" style=" font-family:Symbol; font-size:15.3px; color:#000000">
<li type="square"><span style=" font-family:Arial"> Responsible for Giving Approval on M-MIMO Site Test which are Based on </span></span>
</div>
<div class="pos" id="_277:1028" style="top:1028;left:277">
<span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
Throughput and CSFB by Using SRS Tool.</span>
</div>
<div class="pos" id="_0:0" style="top:1100">
<img name="_1100:850" src="page_002.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_227:1307" style="top:1307;left:227">
<span id="_14.9" style="font-weight:bold; font-family:Arial; font-size:14.9px; color:#000000">
Project 2: - AT & T(Volte/LTE) (Georgia Market, USA)</span>
</div>
<div class="pos" id="_227:1343" style="top:1343;left:227">
<span id="_14.9" style="font-weight:bold; font-family:Arial; font-size:14.9px; color:#000000">
Projects Responsibilities: -</span>
</div>
<div class="pos" id="_227:1360" style="top:1360;left:227">
<span id="_14.9" style="font-weight:bold; font-family:Arial; font-size:14.9px; color:#000000">
       </span>
</div>
<div class="pos" id="_252:1375" style="top:1375;left:252">
<span id="_14.9" style=" font-family:Symbol; font-size:14.9px; color:#000000">
<li type="square"><span style=" font-family:Arial"> Responsible for </span><span style=" font-family:Arial"> Checking </span><span style=" font-family:Arial"> Site Details </span><span style=" font-family:Arial"> on </span><span style=" font-family:Arial"> Ericsson </span><span style=" font-family:Arial"> OSS (Amos), </span><span style=" font-family:Arial"> Checking </span></span>
</div>
<div class="pos" id="_277:1396" style="top:1396;left:277">
<span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
Alarms,  Checking  and  Correcting  PCI  as  per  RNDCQI,  Checking,  and </span>
</div>
<div class="pos" id="_277:1414" style="top:1414;left:277">
<span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
Correcting RET of Sites.</span>
</div>
<div class="pos" id="_252:1428" style="top:1428;left:252">
<span id="_14.9" style=" font-family:Symbol; font-size:14.9px; color:#000000">
<li type="square"><span style=" font-family:Arial"> Good knowledge of Post Processing Tools for Observing L3 Messages and </span></span>
</div>
<div class="pos" id="_277:1450" style="top:1450;left:277">
<span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
Finding  Attach-  Detach  Values,  Session  Establishment  Time,  CSFB  delay </span>
</div>
<div class="pos" id="_277:1468" style="top:1468;left:277">
<span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
Time, Fast Return Time & Intra or Inter Handover delay time.</span>
</div>
<div class="pos" id="_252:1482" style="top:1482;left:252">
<span id="_14.9" style=" font-family:Symbol; font-size:14.9px; color:#000000">
<li type="square"><span style=" font-family:Arial"> Optimization of LTE Sites by Checking RSRP, SINR and giving </span></span>
</div>
<div class="pos" id="_277:1504" style="top:1504;left:277">
<span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
recommendations of EDT. </span>
</div>
<div class="pos" id="_227:1557" style="top:1557;left:227">
<span id="_14.9" style="font-weight:bold; font-family:Arial; font-size:14.9px; color:#000000">
Previous Companies: -</span>
</div>
<div class="pos" id="_252:1589" style="top:1589;left:252">
<span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
<li type="square"> Worked with <span style="font-weight:bold"> Nokia</span> <span style="font-weight:bold"> Networks</span> on a Payroll on <span style="font-weight:bold"> Decon Telecom Pvt Ltd</span> as a </span>
</div>
<div class="pos" id="_277:1609" style="top:1609;left:277">
<span id="_14.9" style="font-weight:bold; font-family:Arial; font-size:14.9px; color:#000000">
RNO<span style="font-weight:normal"> . (Aug,2016 &#150; March,2018)</span></span>
</div>
<div class="pos" id="_252:1642" style="top:1642;left:252">
<span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
<li type="square"> Worked with <span style="font-weight:bold"> Reliance Jio Infocomm Limited</span> as a <span style="font-weight:bold"> RF Engineer</span> on a </span>
</div>
<div class="pos" id="_227:1662" style="top:1662;left:227">
<span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
            Payroll of Kurumba Care Pvt. Ltd. (Aug,2015 &#150; Aug,2016).</span>
</div>
<div class="pos" id="_252:1694" style="top:1694;left:252">
<span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
<li type="square"> Worked with <span style="font-weight:bold"> Vodafone India Pvt. Ltd.</span> as a <span style="font-weight:bold"> Sr. Executive</span> on a payroll of </span>
</div>
<div class="pos" id="_277:1715" style="top:1715;left:277">
<span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
Mass Call net India Pvt. Ltd. (July,2014 &#150; Feb,2015)</span>
</div>
<div class="pos" id="_227:1750" style="top:1750;left:227">
<span id="_15.4" style="font-weight:bold; font-family:Arial; font-size:15.4px; color:#000000">
Project Undergone: - Nokia (Vodafone Punjab 4G/VOLTE), ZTE (Airtel Punjab </span>
</div>
<div class="pos" id="_227:1767" style="top:1767;left:227">
<span id="_15.4" style="font-weight:bold; font-family:Arial; font-size:15.4px; color:#000000">
Haryana LTE), JIO (Delhi NCR), Ericsson (Airtel Delhi NCR)</span>
</div>
<div class="pos" id="_227:1802" style="top:1802;left:227">
<span id="_14.7" style="font-weight:bold; font-family:Arial; font-size:14.7px; color:#000000">
Tools<span style="font-weight:normal"> : </span><span style="font-weight:normal"> -TEMS, </span><span style="font-weight:normal"> MAPINFO, </span><span style="font-weight:normal"> GPS, </span><span style="font-weight:normal"> TEMS </span><span style="font-weight:normal"> DISCOVERY, </span><span style="font-weight:normal"> ACTIX, </span><span style="font-weight:normal"> GALADIATOR, </span></span>
</div>
<div class="pos" id="_227:1820" style="top:1820;left:227">
<span id="_14.7" style=" font-family:Arial; font-size:14.7px; color:#000000">
NETACT, MAPINFO, GPS, XCAL, XCAB, XCAB-VUZE, G-NET TRACKER, LSMR, </span>
</div>
<div class="pos" id="_227:1838" style="top:1838;left:227">
<span id="_14.7" style=" font-family:Arial; font-size:14.7px; color:#000000">
ACTIX ONE, AIRTIGHT PLANNER</span>
</div>
<div class="pos" id="_227:1873" style="top:1873;left:227">
<span id="_15.2" style="font-weight:bold; font-family:Arial; font-size:15.2px; color:#000000">
Projects Responsibilities: -</span>
</div>
<div class="pos" id="_227:1890" style="top:1890;left:227">
<span id="_15.2" style="font-weight:bold; font-family:Arial; font-size:15.2px; color:#000000">
         </span>
</div>
<div class="pos" id="_252:1905" style="top:1905;left:252">
<span id="_15.2" style=" font-family:Symbol; font-size:15.2px; color:#000000">
<li type="square"><span style=" font-family:Arial"> LTE drive log analysis, events analysis & recommendations for poor coverage </span></span>
</div>
<div class="pos" id="_277:1926" style="top:1926;left:277">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
& SINR.</span>
</div>
<div class="pos" id="_252:1941" style="top:1941;left:252">
<span id="_15.2" style=" font-family:Symbol; font-size:15.2px; color:#000000">
<li type="square"><span style=" font-family:Arial"> Coverage gap & low throughput analysis including overshooting & PCI conflict.</span></span>
</div>
<div class="pos" id="_252:1959" style="top:1959;left:252">
<span id="_15.2" style=" font-family:Symbol; font-size:15.2px; color:#000000">
<li type="square"><span style=" font-family:Arial"> Checking </span><span style=" font-family:Arial"> PCI </span><span style=" font-family:Arial"> Conflict/ </span><span style=" font-family:Arial"> confusion, </span><span style=" font-family:Arial"> physical </span><span style=" font-family:Arial"> parameter </span><span style=" font-family:Arial"> analysis </span><span style=" font-family:Arial"> & </span></span>
</div>
<div class="pos" id="_277:1981" style="top:1981;left:277">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
recommendations</span>
</div>
<div class="pos" id="_252:1996" style="top:1996;left:252">
<span id="_15.2" style=" font-family:Symbol; font-size:15.2px; color:#000000">
<li type="square"><span style=" font-family:Arial"> Good knowledge of LTE call flow. </span></span>
</div>
<div class="pos" id="_252:2014" style="top:2014;left:252">
<span id="_15.2" style=" font-family:Symbol; font-size:15.2px; color:#000000">
<li type="square"><span style=" font-family:Arial"> LTE optimization on Multiple Carriers antenna planning for LTE coverage.</span></span>
</div>
<div class="pos" id="_252:2033" style="top:2033;left:252">
<span id="_15.2" style=" font-family:Symbol; font-size:15.2px; color:#000000">
<li type="square"><span style=" font-family:Arial"> Responsible for </span><span style="font-weight:bold; font-family:Arial"> 4G Roll-out</span><span style=" font-family:Arial"> Pre-Launch and Post Launch</span></span>
</div>
<div class="pos" id="_252:2051" style="top:2051;left:252">
<span id="_15.2" style=" font-family:Symbol; font-size:15.2px; color:#000000">
<li type="square"><span style=" font-family:Arial"> Responsible for Successful </span><span style="font-weight:bold; font-family:Arial"> 4G Cluster</span><span style=" font-family:Arial"> Drives and Successful Submission of </span></span>
</div>
<div class="pos" id="_277:2073" style="top:2073;left:277">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
Cluster Reports within TimeLine.</span>
</div>
<div class="pos" id="_0:0" style="top:2200">
<img name="_1100:850" src="page_003.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_80:2372" style="top:2372;left:80">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
EDUCATION</span>
</div>
<div class="pos" id="_80:2390" style="top:2390;left:80">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
QUALIFICATIONS         </span>
</div>
<div class="pos" id="_80:2407" style="top:2407;left:80">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
    </span>
</div>
<div class="pos" id="_80:2425" style="top:2425;left:80">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
                                      <span style="font-weight:normal"> Successfully Completed B.tech  </span> in Electronics & Communication from  </span>
</div>
<div class="pos" id="_80:2443" style="top:2443;left:80">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
Aravali </span>
</div>
<div class="pos" id="_80:2460" style="top:2460;left:80">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
                                      <span style="font-weight:normal"> College of Engineering & Management</span> <span style="font-weight:normal"> affiliated from </span> Maharishi Dayanand </span>
</div>
<div class="pos" id="_79:2478" style="top:2478;left:79">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
                                      University<span style="font-weight:normal"> .</span> </span>
</div>
<div class="pos" id="_80:2495" style="top:2495;left:80">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
                                         </span>
</div>
<div class="pos" id="_80:2512" style="top:2512;left:80">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
                                      <span style="font-weight:normal"> Passed 12</span><span id="_9.5" style="font-weight:normal; font-size:9.5px"> th</span><span style="font-weight:normal"> in PCM from </span> Central Board of Secondary Education(CBSE)</span>
</div>
<div class="pos" id="_79:2530" style="top:2530;left:79">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
                                      New Delhi. </span>
</div>
<div class="pos" id="_80:2566" style="top:2566;left:80">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
 ACHIEVEMENTS  </span>
</div>
<div class="pos" id="_130:2604" style="top:2604;left:130">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
                      Awarded by Nokia as a <span style="font-weight:bold"> Best RNO Engineer </span> in LTE Cluster Optimization</span>
</div>
<div class="pos" id="_130:2624" style="top:2624;left:130">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
     </span>
</div>
<div class="pos" id="_80:2643" style="top:2643;left:80">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
                                  Involved in Successful launching of Reliance Jio  in Delhi NCR for employees.</span>
</div>
<div class="pos" id="_80:2678" style="top:2678;left:80">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
                                  Attended National Cadet Corps(NCC ) Annual Training Camp held at Delhi.</span>
</div>
<div class="pos" id="_80:2696" style="top:2696;left:80">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
                                   </span>
</div>
<div class="pos" id="_80:2716" style="top:2716;left:80">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
                                  <span style="font-weight:normal"> Second runners up in </span> Marchpast<span style="font-weight:normal"> held at Thyagraj stadium New Delhi.</span></span>
</div>
<div class="pos" id="_80:2753" style="top:2753;left:80">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
 DECLARATION</span>
</div>
<div class="pos" id="_100:2779" style="top:2779;left:100">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
                            I hereby declare that all the information mentioned above is correct up to my                     </span>
</div>
<div class="pos" id="_100:2814" style="top:2814;left:100">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
                            knowledge and contains no wrong information<span style="font-weight:bold"> .</span></span>
</div>
<div class="pos" id="_635:2867" style="top:2867;left:635">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
  ANKUR SHARMA</span>
</div>
</nowrap></nobr>
</body>
</html>
