{% extends "base.html" %}
{%load static%}

{% block title%}python{% endblock title %}

{% block body %}


<div class="container-fluid mt-0 px-0 ">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active" data-interval="10000">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-left display-1 " style="text-decoration: underline double ;">Python</h1>

                </div>

                <img src="{% static 'img/p1.jpg'%}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
   

</div>

<!-- <h2 class="text" style="min-width: 300px;">
    Hi, I am Autodidact, I Practice Online to Improve my Python
    Coding
    Skills. I have Good Knowledge of List,Strings,Dictionaries,Tuples,Sets,Funtions & OOP in Python
  </h2> -->
  <div class="alert alert-dark text-break" role="alert" >
    <h2>Hi, I am Autodidact, I Practice Online to Improve my Python
    Coding Skills.I have Good Knowledge of 
    List,Strings,
    Dictionaries,
    Tuples,Sets,
    Funtions & OOP in Python.</h2>
  </div>

<h1 class="text-center display-4 text-break ">I Hold Some Certifications Which I completed While Learning</h1>





<div class="container mt-0 px-0 my-5">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="1800">
                <img src="{% static 'img/pythoncerti1.jpg'%}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="1800">
                <img src="{% static 'img/hack1.jpg'%}" class="d-block w-100" alt="...">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- 
<div class="container-fluid mb-5" style="background:#eaf1d8 !important"">
    <h2 class="text-left  ml-3">Hi, I am Autodidact, I Practice Online to Improve my Python Coding Skills. I have Good Knowledge of List,Strings,Dictionaries,Tuples,Sets,Funtions & OOP in Python, I Hold Some Certifications Which I completed While Learning.</h2>
    <div class="row my-3 ml-3">
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 40rem;">
                <img src="{% static 'img/pythoncerti1.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"style= "text-primary">Complete Python BootCamp</h5>
                    <p class="card-text">Completed this Course on Udemy Which Give Me a Good Understanding About Python
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card" style="width: 40rem;">
                <img src="{% static 'img/hack1.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">HackerRank Python(Basic) Test </h5>
                    <p class="card-text">Passed the HackerRank Python(Basic) Skills Verification Test by Solving Some Basic Problems</p>
                </div>
            </div>


    </div>
</div> -->



{% endblock body %}