{% extends "base.html" %}
{%load static%}

{% block title%}RF Optimization{% endblock title %}

{% block rfactive %}active{% endblock rfactive %}


{% block body %}

<div class="container-fluid mt-0 px-0 ">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active" data-interval="10000">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-left display-1 " style="text-decoration: underline ;text-decoration-color:#ebc1e9;">
                        Radio Frequency Optimization</h1>

                </div>

                <img src="{% static 'img/rf2.jpg'%}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>


</div>

<!-- <h2 class="text" style="min-width: 300px;">
    Hi, I am Autodidact, I Practice Online to Improve my Python
    Coding
    Skills. I have Good Knowledge of List,Strings,Dictionaries,Tuples,Sets,Funtions & OOP in Python
  </h2> -->

<div class="container text-break mb-5" style="background:#aff3f3 !important">

    <div class="pos" id="_87:414" style="top:414;left:87">
        <span id="_15.9" style="font-weight:bold; font-family:Arial; font-size:15.9px; color:#000000">
            SUMMARY:-</span>
    </div>
    <div class="pos" id="_87:433" style="top:433;left:87">
        <span id="_14.6" style=" font-family:Arial; font-size:14.6px; color:#000000">
            Telecom professional having 5+ Years of experience in the field of Optimization.Good knowledge of RF
            Optimization LTE network by Monitoring KPI&#146;s like Accessibility Retainability Mobility. Good knowledge
            of Physical Site audits, cluster Optimization & Also Retainability Mobility. Good knowledge of Physical Site
            audits, cluster Optimization.</span></div>
    <div class="pos" id="_80:528" style="top:528;left:80">
        <span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#0d0d0d">
            CUSTOMERS EXPERIENCES: -</span>
    </div>
    <div class="pos" id="_80:554" style="top:554;left:80">
        <span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#0d0d0d">
            Ericsson: - <span style="font-weight:normal; color:#000000"> LTE Optimization and Analysis of Network by
                Monitoring KPI&#146;s</span></span>
    </div>
    <div class="pos" id="_80:580" style="top:580;left:80">
        <span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#0d0d0d">
            NOKIA: - <span style="font-weight:normal"> LTE</span> <span style="font-weight:normal; color:#000000">
                Optimization and Analysis the network & Post Processing Analysis </span></span>
    </div>
    <div class="pos" id="_80:606" style="top:606;left:80">
        <span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#0d0d0d">
            ZTE: - <span style="font-weight:normal; color:#000000"> Drive Test, Swap Test, Customer Complain,
                Analysis Report, LTE Optimization </span><span style=" color:#006fc0"> </span></span>
    </div>
    <div class="pos" id="_80:632" style="top:632;left:80">
        <span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#0d0d0d">
            Samsung: - <span style="font-weight:normal; color:#000000"> LTE Analysis and Optimization for SCFT and
                CLUSTER and Drive test </span><span style=" color:#006fc0"> </span></span>
    </div>
    <div class="pos" id="_87:672" style="top:672;left:87">
        <span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#000000">
            WORKING EXPERIENCE: - </span>
    </div>

    <div class="pos" id="_227:707" style="top:707;left:227">
        <span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#000000">
            <U>L</U><U>a</U><U>s</U><U>t</U><U> </U><U>C</U><U>o</U><U>m</U><U>p</U><U>a</U><U>n</U><U>y</U>:
            -</span>
    </div>
    <div class="pos" id="_227:742" style="top:742;left:227">
        <span id="_15.1" style=" font-family:Arial; font-size:15.1px; color:#000000">
            Worked with <span style="font-weight:bold"> Ericsson India Global Services</span> <span> as a LTE RAN
                Engineer on a Payroll of Magna Infotech (July,2018 &#150;1st July 2020)</span> </span>
    </div>

    <div class="pos" id="_227:795" style="top:795;left:227">
        <span id="_15.1" style="font-weight:bold; font-family:Arial; font-size:15.1px; color:#000000">
            <U>P</U><U>r</U><U>o</U><U>j</U><U>e</U><U>c</U><U>t</U><U> </U><U>1</U>: -SPRINT Massive MIMO
            (USA)</span>
    </div>
    <div class="pos" id="_227:830" style="top:830;left:227">
        <span id="_15.5" style="font-weight:bold; font-family:Arial; font-size:15.5px; color:#000000">
            Tools: - SRS Testing Tool, PRTS KPI Monitoring Tool, LSMR, Ericsson ENM,TEMS, MAPINFO, TEMS DISCOVERY,
            ACTIX, Nokia OSS (NetAct), Samsung OSS (LSMR), Ericsson OSS(ENM) </span>
    </div>

    <div class="pos" id="_227:900" style="top:900;left:227">
        <span id="_15.2" style="font-weight:bold; font-family:Arial; font-size:15.2px; color:#000000">
            <U>P</U><U>r</U><U>o</U><U>j</U><U>e</U><U>c</U><U>t</U><U>s</U><U>
            </U><U>R</U><U>e</U><U>s</U><U>p</U><U>o</U><U>n</U><U>s</U><U>i</U><U>b</U><U>i</U><U>l</U><U>i</U><U>t</U><U>i</U><U>e</U><U>s</U><U>:</U><U>
            </U><U>-</U></span>
    </div>
    <div class="pos" id="_252:932" style="top:932;left:252">
        <span id="_14.8" style=" font-family:Symbol; font-size:14.8px; color:#000000">
            <li type="square"><span style=" font-family:Arial"> Responsible for Optimization KPI&#146;s after LTE to
                    Massive MIMO swap.</span>
        </span>
    </div>
    <div class="pos" id="_252:951" style="top:951;left:252">
        <span id="_14.8" style=" font-family:Symbol; font-size:14.8px; color:#000000">
            <li type="square"><span style=" font-family:Arial"> Having Knowledge of Nokia (NetAct), Samsung (LSMR),
                    Ericsson (ENM).</span>
        </span>
    </div>
    <div class="pos" id="_252:970" style="top:970;left:252">
        <span id="_14.8" style=" font-family:Symbol; font-size:14.8px; color:#000000">
            <li type="square"><span style=" font-family:Arial"> Responsible for X2 Neighbor Cleanup for Legacy Site
                    After New M-MIMO Site Installation by Using LSM. </span>
        </span>
    </div>

    <div class="pos" id="_252:1006" style="top:1006;left:252">
        <span id="_15.3" style=" font-family:Symbol; font-size:15.3px; color:#000000">
            <li type="square"><span style=" font-family:Arial"> Responsible for Giving Approval on M-MIMO Site Test
                    which are Based on Throughput and CSFB by Using SRS Tool. </span>
        </span>
    </div>


    <div class="pos" id="_227:1307" style="top:1307;left:227">
        <span id="_14.9" style="font-weight:bold; font-family:Arial; font-size:14.9px; color:#000000">
            Project 2: - AT & T(Volte/LTE) (Georgia Market, USA)</span>
    </div>
    <div class="pos" id="_227:1343" style="top:1343;left:227">
        <span id="_14.9" style="font-weight:bold; font-family:Arial; font-size:14.9px; color:#000000">
            Projects Responsibilities: -</span>
    </div>

    <div class="pos" id="_252:1375" style="top:1375;left:252">
        <span id="_14.9" style=" font-family:Symbol; font-size:14.9px; color:#000000">
            <li type="square"><span style=" font-family:Arial"> Responsible for Checking Site Details on Ericsson OSS
                    (Amos) Checking Alarms, Checking and Correcting PCI as per RNDCQI, Checking, and orrecting RET of
                    Sites.</span>
        </span>
    </div>

    <div class="pos" id="_252:1428" style="top:1428;left:252">
        <span id="_14.9" style=" font-family:Symbol; font-size:14.9px; color:#000000">
            <li type="square"><span style=" font-family:Arial"> Good knowledge of Post Processing Tools for
                    Observing L3 Messages and Finding Attach- Detach Values, Session Establishment Time, CSFB delay
                    Time, Fast Return Time & Intra or Inter Handover delay time. </span>
        </span>

        <div class="pos" id="_252:1482" style="top:1482;left:252">
            <span id="_14.9" style=" font-family:Symbol; font-size:14.9px; color:#000000">
                <li type="square"><span style=" font-family:Arial"> Optimization of LTE Sites by Checking RSRP, SINR and
                        giving recommendations of EDT</span>
            </span>

            <div class="pos" id="_227:1557" style="top:1557;left:227">
                <span id="_14.9" style="font-weight:bold; font-family:Arial; font-size:14.9px; color:#000000">
                    Previous Companies: -</span>
            </div>


            
            <div class="pos" id="_252:1642" style="top:1642;left:252">
                <span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
                    <li type="square"> </li>
            </div></span>

            <div class="pos" id="_252:1642" style="top:1642;left:252">
                <span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
                    <li type="square"> Worked with Nokia Networks on a Payroll on Decon Telecom Pvt Ltd as a
                        RNO.(Aug,2016 &#150; March,2018)).
                </span>
                <div class="pos" id="_252:1642" style="top:1642;left:252">
                    <span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
                        <li type="square"> Worked with  Reliance Jio Infocomm Limited as
                                a RF Engineer on a Payroll of Kurumba Care Pvt. Ltd. (Aug,2015 &#150; Aug,2016).</span>

                            <div class="pos" id="_252:1694" style="top:1694;left:252">
                                <span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
                        <li type="square"> Worked with  Vodafone India Pvt. Ltd. as a Sr. Executive on a payroll of Mass Call net India Pvt. Ltd. (July,2014 &#150; Feb,2015)</span>
                            
                            <span style="font-weight:bold"></span> 
                    </span>
                </div>
                <div class="pos" id="_277:1715" style="top:1715;left:277">
                    <span id="_14.9" style=" font-family:Arial; font-size:14.9px; color:#000000">
                        </span>
                </div>
                <div class="pos" id="_227:1750" style="top:1750;left:227">
                    <span id="_15.4" style="font-weight:bold; font-family:Arial; font-size:15.4px; color:#000000">
                        Project Undergone: - Nokia (Vodafone Punjab 4G/VOLTE), ZTE (Airtel Punjab </span>
                </div>
                <div class="pos" id="_227:1767" style="top:1767;left:227">
                    <span id="_15.4" style="font-weight:bold; font-family:Arial; font-size:15.4px; color:#000000">
                        Haryana LTE), JIO (Delhi NCR), Ericsson (Airtel Delhi NCR)</span>
                </div>
                <div class="pos" id="_227:1802" style="top:1802;left:227">
                    <span id="_14.7" style="font-weight:bold; font-family:Arial; font-size:14.7px; color:#000000">
                        Tools<span style="font-weight:normal"> : </span><span style="font-weight:normal"> -TEMS,MAPINFO,GPS,TEMS DISCOVERY,ACTIX,GALADIATOR,NETACT, MAPINFO, GPS, XCAL, XCAB, XCAB-VUZE, G-NET TRACKER, LSMR,ACTIX ONE, AIRTIGHT PLANNER
                        
                </div>
             
                <div class="pos" id="_227:1873" style="top:1873;left:227">
                    <span id="_15.2" style="font-weight:bold; font-family:Arial; font-size:15.2px; color:#000000">
                        Projects Responsibilities: -</span>
                </div>
                <div class="pos" id="_227:1890" style="top:1890;left:227">
                    <span id="_15.2" style="font-weight:bold; font-family:Arial; font-size:15.2px; color:#000000">
                    </span>
                </div>
                <div class="pos" id="_252:1905" style="top:1905;left:252">
                    <span id="_15.2" style=" font-family:Symbol; font-size:15.2px; color:#000000">
                        <li type="square"><span style=" font-family:Arial"> LTE drive log analysis, events analysis &
                                recommendations for poor coverage & SINR. </span>
                    </span>
           
                <div class="pos" id="_252:1941" style="top:1941;left:252">
                    <span id="_15.2" style=" font-family:Symbol; font-size:15.2px; color:#000000">
                        <li type="square"><span style=" font-family:Arial"> Coverage gap & low throughput analysis
                                including
                                overshooting & PCI conflict.</span>
                    </span>
                </div>
                <div class="pos" id="_252:1959" style="top:1959;left:252">
                    <span id="_15.2" style=" font-family:Symbol; font-size:15.2px; color:#000000">
                        <li type="square"><span style=" font-family:Arial"> Checking PCI Conflict/confusion,physical parameter analysis & recommendations </span>
             
                </div>
                
                <div class="pos" id="_252:1996" style="top:1996;left:252">
                    <span id="_15.2" style=" font-family:Symbol; font-size:15.2px; color:#000000">
                        <li type="square"><span style=" font-family:Arial"> Good knowledge of LTE call flow. </span>
                    </span>
                </div>
                <div class="pos" id="_252:2014" style="top:2014;left:252">
                    <span id="_15.2" style=" font-family:Symbol; font-size:15.2px; color:#000000">
                        <li type="square"><span style=" font-family:Arial"> LTE optimization on Multiple Carriers
                                antenna
                                planning for LTE coverage.</span>
                    </span>
                </div>
                <div class="pos" id="_252:2033" style="top:2033;left:252">
                    <span id="_15.2" style=" font-family:Symbol; font-size:15.2px; color:#000000">
                        <li type="square"><span style=" font-family:Arial"> Responsible for </span><span
                                style="font-weight:bold; font-family:Arial"> 4G Roll-out</span><span
                                style=" font-family:Arial">
                                Pre-Launch and Post Launch</span>
                    </span>
                </div>
                <div class="pos" id="_252:2051" style="top:2051;left:252">
                    <span id="_15.2" style=" font-family:Symbol; font-size:15.2px; color:#000000">
                        <li type="square"><span style=" font-family:Arial"> Responsible for Successful </span><span
                                style="font-weight:bold; font-family:Arial"> 4G Cluster</span><span
                                style=" font-family:Arial">
                                Drives and Successful Submission of Cluster Reports within TimeLine.</span>
                    </span>
                </div>
           
                <div class="pos" id="_0:0" style="top:2200">
             
            </div>







            {% endblock body %}